<mat-nav-list>

  <mat-divider></mat-divider>

  <h2 matSubheader> APIs </h2>

  <a mat-list-item routerLinkActive= "list-item-active" routerLink="/gkg">
    <mat-icon>lightbulb_outline</mat-icon>GKG Query</a>
  <a mat-list-item routerLinkActive= "list-item-active" routerLink="/events">
    <mat-icon>language</mat-icon>Event Query</a>

  <mat-divider></mat-divider>
  <br>

  <h2 matSubheader> Analytics </h2>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      iCoRe Explorer
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive= "list-item-active" routerLink="/charts-one">Press Freedom</a>
    <a mat-list-item routerLinkActive= "list-item-active" routerLink="/charts-two">Democracy Index</a>
    <a mat-list-item routerLinkActive= "list-item-active" routerLink="/charts-three">Pathogen Prevalence</a>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      iCoRe Monitor
    </mat-expansion-panel-header>
    <a mat-list-item routerLinkActive= "list-item-active" routerLink="/world-map">World Events</a>

  </mat-expansion-panel>

  <br>

  <h2 matSubheader> Resources </h2>

  <a mat-list-item href="https://osf.io/preprints/socarxiv/smjwb">
    <mat-icon>import_contacts</mat-icon>
    Companion Paper
  </a>

  <a mat-list-item href="https://github.com/medianeuroscience/icore">
    <mat-icon>explore</mat-icon>
    Github Page
  </a>

  <a mat-list-item href="https://www.medianeuroscience.org">
    <mat-icon>supervised_user_circle</mat-icon>
    The MNL
  </a>

</mat-nav-list>
