.zeroth{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.first {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.container2  {
  background-image: url('src/assets/background_art.jpg');
}
