:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 350px;
}

mat-drawer-container{
  height: 100%;
}

mat-drawer-content{
  padding: 20px;
}

::ng-deep .mat-raised-button{
    height: 45px !important;
    font-size:22px !important;
}
