.zeroth{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.first {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.second {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.text-titles{
  text-align: center;
}
