<div>
  <h2> Pathogen Prevalence </h2>
  <p> Filter on features below to gain insights </p>
</div>

<div class="zeroth">
  <div>
    <br/>
    <p>Filter by overall index</p>
  </div>
  <div>
    <br/>
    <p class='text-titles'> Filter by individual countries </p>
  </div>
</div>

<div class="first">
  <span id="bar-chart">

  </span>

  <span id="world-chart">

  </span>

</div>
<div>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

<div>
  <p> Filter pathogens by regional prevalence </p>
</div>

<div class="second">

<div>
  <div>
    <span class='text-titles'>
      <p>Leishmania</p>
      <span id="lei-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Schistosoma</p>
      <span id="sch-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Filaria</p>
      <span id="fil-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Leprosy</p>
      <span id="lep-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Typhus</p>
      <span id="thu-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Malaria</p>
      <span id="mal-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Trypanosoma</p>
      <span id="trp-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Tuberculosis</p>
      <span id="tb-chart">
      </span>
    </span>
  </div>
</div>

<div>
  <div>
    <span class='text-titles'>
      <p>Dengue</p>
      <span id="den-chart">
      </span>
    </span>
  </div>
</div>




</div>


<div>
  <br/>
  <br/>
  <br/>
</div>


<div>
    <span>
        <table id='table-chart'>
          <thead>
              <tr>
                <th>COUNTRY</th>
                <th>ZONE</th>
                <th>HPP. 9</th>
                <th>LEI</th>
                <th>SCH</th>
                <th>FIL</th>
                <th>LEP</th>
                <th>THU</th>
                <th>MAL</th>
                <th>TRP</th>
                <th>TB</th>
                <th>DEN</th>
              </tr>
          </thead>
      </table>
  </span>
</div>
