<div>

  <h2> World Events Monitor </h2>
  <p> Serving events data from last week </p>

</div>

<div style="text-align: left">
  <body>
    <div class="first">
      <mat-card class="mapBox">
        <div id="world">

        </div>
      </mat-card>

      <mat-card>
        <div id="number">

        </div>
      </mat-card>

    </div>
    <br>
    <br>
    <h3> Media Tone </h3>
    <p> Serving global tone from last week </p>
    <br>

    <div class="second">
      <mat-card>
        <div id="line" style="text-align: left">

        </div>
      </mat-card>
    </div>
    <br>
    <br>
    <br>
    <br>


  </body>
</div>
