

<div>
    <h1 style="text-align: center">Global Knowledge Graph Query Dashboard</h1>
  <p style="text-align: center; font-size: 20px; padding-left: 30%; padding-right: 30%;">Welcome to the Global Knowledge Graph Query Dashboard! This interface allows you to specify parameters to query preprocessed GKG news data from iCoRe. Make sure you have read the tutorial on how to optimize queries for your research purposes.</p>

<mat-divider></mat-divider>
  <br>
  <br>
  <br>
  <br>
</div>

<form #userForm_all ="ngForm" (ngSubmit)="Submit()" style="text-align: center; padding-left: 5%; padding-right: 5%;">

  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-hint>e.g,  2019</mat-hint>
        <input matInput #year="ngModel" required name = "userYear" [(ngModel)]="userModel.year">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-hint>e.g,  01-03</mat-hint>
        <input matInput #month ="ngModel" name = "month" [(ngModel)]="userModel.month">
      </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>News Source Location</mat-label>
          <mat-select #country="ngModel" name="country" [(ngModel)]="userModel.country">
            <mat-option value="default"> All Countries </mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>GCAM Dictionary</mat-label>
            <mat-select #dictionary="ngModel" multiple name="dictionary" [(ngModel)] = "userModel.dictionary">
              <mat-option value="mfd">Moral Foundations Dictionary (MFD) </mat-option>
              <mat-option value="liwc">Linguistic Inquiry and Wordcount (LIWC) </mat-option>
              <mat-option value="motive">Hogenraad's Motive Dictionary</mat-option>
            </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Issues</mat-label>
          <mat-select #issue="ngModel" name="issue" [(ngModel)] = "userModel.issue" [disabled] = "topic.value !== 'default'">
            <mat-option value="default"> Choose Issue </mat-option>
            <mat-option *ngFor="let issue of issues" [value]="issue">{{ issue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Themes</mat-label>
          <mat-select #topic="ngModel" name="topic" [(ngModel)] = "userModel.topic" [disabled] = "issue.value !== 'default'">
          <mat-option value="default"> Choose Theme </mat-option>
          <mat-option *ngFor="let topic of topics" [value]="topic.name">{{ topic.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>



      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Entity Search and FIPS Mapping</mat-label>
          <mat-hint>e.g, donald trump, twitter, MX, US</mat-hint>
          <input matInput #entity="ngModel" name="entity" [(ngModel)] = "userModel.entity">
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Data Format</mat-label>
          <mat-select #format="ngModel" name="format" [(ngModel)] = "userModel.format">
            <mat-option value="csv">Comma-separated Value (CSV) </mat-option>
            <mat-option value="json">Java Script Object Notation (JSON) </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>


    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <mat-hint>Please type in an email address to receive your query</mat-hint>
        <input matInput #email="ngModel" required name="email" [(ngModel)] = "userModel.email">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>


  <br>
  {{ userSubmitted }}
  <div style="text-align: center;">
    <button mat-raised-button [disabled] = "!userForm_all.valid" color="primary">Submit</button>
  </div>
</form>


<br>
<br>
<br>
<br>
<mat-divider></mat-divider>
