<div>
  <h2> Democracy </h2>
  <p> Filter on features below to gain insights </p>
</div>

<div class="zeroth">
  <div>
    <br/>
    <p>Filter by political regimes</p>
  </div>
  <div>
    <br/>
    <p> Filter by individual countries </p>
  </div>
</div>

<div class="first">
  <span id="regime-chart">

  </span>

  <span id="world-chart">

  </span>

</div>
<div>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

<div>
  <p>Filter by sociopolitical dimensions</p>
</div>

<div class="second">

  <span class='text-titles'>
    <p>Electoral Pluralism</p>
    <span id="pluralism-chart">
    </span>
  </span>

  <span class='text-titles'>
    <p>Governance</p>
    <span id="gov-chart">
    </span>
  </span>

  <span class='text-titles'>
    <p>Political Participation</p>
    <span id="political-chart">
    </span>
  </span>

  <span class='text-titles'>
    <p>Political Culture</p>
    <span id="culture-chart">
    </span>
  </span>

  <span class='text-titles'>
    <p>Civil Liberties</p>
    <span id="civil-chart">
    </span>
  </span>



</div>


<div>
  <br/>
  <br/>
  <br/>
</div>


<div>
    <span>
        <table id='table-chart'>
          <thead>
              <tr>
                <th>RANK</th>
                <th>COUNTRY</th>
                <th>ZONE</th>
                <th>PLURALISM</th>
                <th>GOVERNANCE</th>
                <th>PARTICIPATION</th>
                <th>CULTURE</th>
                <th>LIBERTIES</th>
              </tr>
          </thead>
      </table>
  </span>
</div>
