
<div>
  <h2> Press Freedom </h2>
  <p> Filter on features below to gain insights </p>
</div>

<div>
  <div class="zeroth">
    <div>
      <br/>
      <p>Filter by progress</p>
    </div>
    <div>
      <br/>
      <p class='text-titles'> Filter by individual countries </p>
    </div>
  </div>

  <div class="first">
    <span id="scatter-chart">

    </span>

    <span id="world-chart">

    </span>

  </div>

  <div>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>

  <div class="second">

    <span class='text-titles'>
      <p>Filter by zones</p>
      <span id="zone-chart">
      </span>
    </span>

    <span class='text-titles'>
      <p>Filter by regime</p>
      <span id="gov-chart">
      </span>
    </span>

    <span class='text-titles'>
      <p>Filter by income</p>
      <span id="income-chart">
      </span>
    </span>

      <span class='text-titles'>
        <br/>
        <br/>
        <h3> Total Abuse </h3>
        <span id='number-box'>
          <span id="number-chart">
          </span>
        </span>
      </span>

  </div>

  <div>
    <br/>
    <br/>
    <br/>
  </div>

    <div>
        <table id='table-chart'>
          <thead>
              <tr>
                <th>RANK</th>
                <th>COUNTRY</th>
                <th>ZONE</th>
                <th>REGIME</th>
                <th>INCOME</th>
                <th>ABUSE SCORE</th>
                <th>PROGRESS</th>
              </tr>
          </thead>
      </table>
  </div>
</div>
